@model FakeIG.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>新貼文</h2>
@{
    if (ViewBag.ImgPath == null)
    {

        <form class="form-horizontal" method="post" action="/Post/CreateImg" enctype="multipart/form-data">
            <div>
                <p>上傳檔案 1:<input type="file" name="photo" /></p>
                <p>上傳檔案 2:<input type="file" name="photo" /></p>
                <p>上傳檔案 3:<input type="file" name="photo" /></p>
                <input type="submit" value="檔案上傳" />
            </div>

        </form>
    }
    if (ViewBag.ImgPath != null)
    {
        @*<div class="img-thumbnail">
                @foreach (var item in ViewBag.ImgPath)
                {
                    <img src="@item" class="img-responsive" />
                }
            </div>*@
        <div id="carouselExampleIndicators" class="carousel slide col-6 col-md-6 col-lg-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @for (int i = 0; i < ViewBag.ImgPath.Count; i++)
                {
                    if (i == 0)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i"></button>
                    }
                    else
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i"></button>
                    }
                }
            </div>
            <div class="carousel-inner">
                @for (int i = 0; i < ViewBag.ImgPath.Count; i++)
                {

                    if (i == 0)
                    {
                        <div class="carousel-item active">
                            <img src="@ViewBag.ImgPath[i]" class="d-block w-100" alt="...">
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <img src="@ViewBag.ImgPath[i]" class="d-block w-100" alt="...">
                        </div>
                    }
                }
            </div>
            @{
                if (ViewBag.ImgPath.Count != 1)
                {
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                }
            }
        </div>
    }
}
@using (Html.BeginForm("Create","Post"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="contents" placeholder="輸入內文" cols="500" rows="10"></textarea>
            </div>
        </div>
        @{
            string path = "";
            if (ViewBag.ImgPath != null)
            {

                for (int i = 0; i < @ViewBag.ImgPath.Count; i++)
                {
                    if ((i + 1) == @ViewBag.ImgPath.Count)
                    {
                        path += @ViewBag.ImgPath[i];
                    }
                    else
                    {
                        path += @ViewBag.ImgPath[i] + ";";
                    }
                }
                <input type="hidden" name="imgpath" value="@path" />
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回首頁", "Index", "Main")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
